<mat-card class="add">
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field class="input">
            <input matInput placeholder="Nome" [(ngModel)]="product.name" (keyup.enter)='createProduct()' name="Nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço(R$)" [(ngModel)]="product.price" (keyup.enter)='createProduct()' name="Preço">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button color="primary" (click)="createProduct()">Salvar</button>
<button mat-raised-button (click)="cancel()">Cancelar</button>