.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
}

.header .logo{
    max-height: 32px;
}

.header .titleGroup{
    margin-left: 20px;
}

.header .titleGroup i{
    padding-right: 5px;
}