.sidenav{
    width: 200px;
    background-color: #DA291C;
}

.sidenav a{
    color: white;
}

.sidenav i{
    align-items: center;
    padding-right: 10px;
}

.content{
    background-color: #FFC72C;
    padding: 16px;
}